Flask==0.10.1
Flask-Login==0.2.7
Flask-Principal==0.4.0
Flask-SQLAlchemy==1.0
Jinja2==2.7.1
MarkupSafe==0.18
Pygments==1.6
SQLAlchemy==0.8.3
WTForms==1.0.5
Werkzeug==0.9.4
argparse==1.2.1
blinker==1.3
itsdangerous==0.23
path.py==5.0
wsgiref==0.1.2
-e git+https://github.com/PuZheng/flask-upload2.git@f11e6c3a0d0195c3bb910c3a1b2487e14df09ab2#egg=flask_upload2-dev
psycopg2==2.5.1
furl==0.3.6
speaklater==1.3
-e git+https://github.com/xiechao06/Flask-NavBar.git@13468d18a464774ff94fb5503a54908100f5b5bd#egg=flask_navbar-dev
-e git+https://github.com/xiechao06/nav-bar.git@8753da67c907c878bce735c0ccea67bcff34c2da#egg=nav_bar-dev
-e git+https://github.com/xiechao06/pyfeature.git@6e974306264a07c7dc3d01813e340e7a58dd0f6b#egg=pyfeature-dev
-e git+https://github.com/xiechao06/Flask-DataBrowser.git@d3f8e8fda35be5171299414dc1608e97653c2a72#egg=Flask_DataBrowser-dev
